@{
    ViewData["Title"] = "Loading";
}


<div class="text-center">
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    <iframe src="https://giphy.com/embed/xT9IgFQsNYi1zBUiyc" width="300" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><a href="https://giphy.com/gifs/pixel-sweet-drink-xT9IgFQsNYi1zBUiyc"></a>
</div>

